body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
}
.btn {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 10px;
}
.student-btn {
    background-color: #3498db;
}
.teacher-btn {
    background-color: #e74c3c;
}